.ButtonsBar{
    color: #c3c3c3;
    display: flex;
    justify-content: center;
}

.DigitalClockFace__wrapper{
    display: flex;
    justify-content: center;
}

/* .DigitalClockFace{
    font-size: 210px;
    color: #fff;
} */

@media (max-width: 920px){
    .DigitalClockFace{
        font-size: 150px;
        color: #fff;
    }
}
@media (min-width: 920px) {
    .DigitalClockFace{
        font-size: 210px;
        color: #fff;
    }
}
@media (max-width: 690px) {
    .DigitalClockFace{
        font-size: 110px;
        color: #fff;
    }
}