

.Button:hover{
    color:  #fff;
}


@media (max-width: 690px) {
    .Button {
        margin: 10px;
        display: block;
        text-align: center;
        width: 75px;
        font-size: 28px;
        cursor: pointer;
    
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (наподобие Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari и Opera */
        -webkit-touch-callout: none; /* Отключить вызовы в Android и iOS */
    }
}

@media (min-width: 920px) {
    .Button {
        margin: 10px;
        display: block;
        text-align: center;
        width: 150px;
        font-size: 36px;
        cursor: pointer;
    
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (наподобие Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari и Opera */
        -webkit-touch-callout: none; /* Отключить вызовы в Android и iOS */
    }
}

@media (min-width: 690px) and (max-width: 920px) {
    .Button {
        margin: 10px;
        display: block;
        text-align: center;
        width: 110px;
        font-size: 30px;
        cursor: pointer;
    
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (наподобие Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari и Opera */
        -webkit-touch-callout: none; /* Отключить вызовы в Android и iOS */
    }
}


@media (min-width: 0px) and (max-width: 690px) {
    .Button {
        margin: 10px;
        display: block;
        text-align: center;
        width: 40px;
        font-size: 18px;
        cursor: pointer;
    
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (наподобие Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari и Opera */
        -webkit-touch-callout: none; /* Отключить вызовы в Android и iOS */
    }
}