
.SaveLapsBtn {
    float: right;
    margin-bottom: 10px;
}

@media (max-width: 690px) {
    .LapsTab{
        width: 400px;
        margin: auto;
        flex-flow: column;
        display: flex;
    }
}
@media (min-width: 690px) {
    .LapsTab{
        width: 600px;
        margin: auto;
        flex-flow: column;
        display: flex;
    }
}