.LapsTab{
    width: 500px;
    margin: auto;
    font-size: 24px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    color: #c3c3c3;
}
.Laps__container{
    max-height:200px;
    overflow-x:auto;
    display: flex;
    flex-direction: column-reverse;
}
.Lap {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}
.Lap__content {
    padding: 0 10px 0 10px;
}

.Number {
    width: 50px;
}
.Time {
    width: 100px;
}

.Header {
    color: white !important;
    font-size: 20px;
    order: 1;
}
