@font-face {
	font-family: "PoppinsRegular";
	src: url("./Poppins/Poppins-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PoppinsBold";
	src: url("./Poppins/Poppins-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PoppinsLight";
	src: url("./Poppins/Poppins-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PoppinsMedium";
	src: url("./Poppins/Poppins-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}